<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  SHOW:

  <div id="movie_info">
    <h2><%= movieInfo.Title %></h2>
    <div>
      <div id="movie_details">
        <div id="movie_released">
          <%= movieInfo.Released %>
        </div>
        <div id="movie_runtime">
         <%= movieInfo.Runtime %>
        </div>
        <div>
          <p> <%= movieInfo.Plot %></p>
        </div>
          <form action="/save/:movie"  method="POST">
            <button>Save Movie</button>
          </form>
      </div>
    </div>
  </div>
</body>
</html>